// Body
$body-bg: #ffffff; // goodones honeydew
$body-text: #212529; 

// Typography
$font-family-post-title: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-post-meta: 'Lora', 'Times New Roman', serif;
$line-height-base: 1.5; 
$font-size-base: 20px; // laraval 0.9rem 

// Colors
$blue: #0085A1;
$post-meta: #6c7784; // was 868e96
$blockquote: #6f767d; // was 868e96
